In [16]:
import pandas as pd 
import numpy as np
df = pd.read_csv('salary_1.csv',sep=",")
display(df.head())
df.corr()
#相関係数

   TIME  PUBS  SALARY
0     3    18   51876
1     6     3   54511
2     3     2   53425
3     8    17   61863
4     9    11   52926

            TIME      PUBS    SALARY
TIME    1.000000  0.656655  0.710351
PUBS    0.656655  1.000000  0.587834
SALARY  0.710351  0.587834  1.000000

In [21]:
import numpy as np
import pandas as pd

df = pd.read_csv('salary_1.csv',sep=",")
y=df['PUBS']
x=df['SALARY']
z=df['TIME']
y=np.array(y)
x=np.array(x)
z=np.array(z)

import math
def partial_corr(z,x,y):
    correlation_matrix = np.corrcoef((z,x,y))
    r_zx = correlation_matrix[0,1]
    r_zy = correlation_matrix[0,2]
    r_xy = correlation_matrix[1,2]
    r_xy_z = (r_xy-r_zx*r_zy)/(math.sqrt(1-r_zx**2)*math.sqrt(1-r_zy**2))
    #x,yの相関からzの影響を取り除く
    return r_xy_z
#偏相関係数を求めるコード

print("Correlation of x and y is {0}:".format(np.corrcoef(x,y)[0,1]))
print("Partial correlation of x and y is {0}:".format(partial_corr(z,x,y) ))

Correlation of x and y is 0.5878335406973414:
Partial correlation of x and y is 0.2286551118979977: