In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.preprocessing import scale
from sklearn.metrics import mean_squared_error
import re

In [3]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [4]:
csv_in = 'salary_1.csv'
df = pd.read_csv(csv_in, sep=',')
print(df.shape)
print(df.info())
display(df.head())

(15, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TIME    15 non-null     int64
 1   PUBS    15 non-null     int64
 2   SALARY  15 non-null     int64
dtypes: int64(3)
memory usage: 488.0 bytes
None

   TIME  PUBS  SALARY
0     3    18   51876
1     6     3   54511
2     3     2   53425
3     8    17   61863
4     9    11   52926

In [5]:
X = df.drop(columns='SALARY')  #説明変数, 2D
y = df['SALARY']  #目的変数, 1D
print('X:', X.shape)
display(X.head())
print('y:', y.shape)
print(y.head())

X: (15, 2)

   TIME  PUBS
0     3    18
1     6     3
2     3     2
3     8    17
4     9    11

y: (15,)
0    51876
1    54511
2    53425
3    61863
4    52926
Name: SALARY, dtype: int64

In [6]:
#標準化
X_scaled_ar = scale(X)
y_scaled_ar = scale(y)

In [7]:
X_scaled = pd.DataFrame(X_scaled_ar, columns=X.columns)
y_scaled = pd.Series(y_scaled_ar, name=y.name)
model = sm.OLS(y_scaled, X_scaled)
results_scaled = model.fit()
print(results_scaled.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 SALARY   R-squared (uncentered):                   0.530
Model:                            OLS   Adj. R-squared (uncentered):              0.458
Method:                 Least Squares   F-statistic:                              7.345
Date:                Thu, 05 Oct 2023   Prob (F-statistic):                     0.00734
Time:                        02:23:39   Log-Likelihood:                         -15.613
No. Observations:                  15   AIC:                                      35.23
Df Residuals:                      13   BIC:                                      36.64
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
TIME           0.5702      0.252      2.263      0.041       0.026       1.115
PUBS           0.2134      0.252      0.847      0.412      -0.331       0.758
==============================================================================
Omnibus:                        0.781   Durbin-Watson:                   1.207
Prob(Omnibus):                  0.677   Jarque-Bera (JB):                0.307
Skew:                          -0.345   Prob(JB):                        0.858
Kurtosis:                       2.874   Cond. No.                         2.20
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\iniad\miniconda3\envs\ds2023\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [8]:
#変数選択
d_scaled=pd.concat([X_scaled,y_scaled],axis=1)
display(d_scaled.head())

       TIME      PUBS    SALARY
0 -1.055290 -0.144776 -0.153446
1 -0.376889 -1.268036  0.192253
2 -1.055290 -1.342920  0.049775
3  0.075378 -0.219660  1.156799
4  0.301511 -0.668964 -0.015691

In [9]:
#Cell_22.
# forward method for variable selection based on AIC.
# Stepwise feature selection method (forward); 変数増加法による変数選択
def step_aic_forward(model, exog, endog, **kwargs):
    '''
    This function calculates the best subset of explanatory (exogenous) variables based on AIC.
    Both exog and endog can be either str or list.

    Arguments:
        model: model from statsmodels.formula.api
        exog (str or list): explanatory (exogenous) variables
        endog (str or list): objective (endogenous) variables
        kwargs: additional keyword argments for model (data, family, ...)

    Return values:
        model: a model with the smallest AIC
    '''
    
    # Convert exog, endog into 1-d list
    exog = np.r_[[exog]].flatten()
    endog = np.r_[[endog]].flatten()
    remaining = set(exog)
    selected = []  # Selected exogenous variables

    # First, calculate AIC with a constant (no exogs)
    formula_head = 'Q("' + '") + Q("'.join(endog) + '") ~ '
    formula = formula_head + '1'
    aic = model(formula=formula, **kwargs).fit().aic
    print('AIC: {:.3f}, formula: {}'.format(aic, formula))

    current_score, best_new_score = aic, aic

    # Break loop if all exogs are selected or no remaining exogs can improve AIC
    while True:
        score_with_candidates = []
        for candidate in remaining:
            # Calculate AIC for adding an exog one by one
            formula_tail = 'Q("' + '") + Q("'.join(selected + [candidate]) + '")'
            formula = formula_head + formula_tail
            aic = model(formula=formula, **kwargs).fit().aic
            print('AIC: {:.3f}, formula: {}'.format(aic, formula))

            score_with_candidates.append((aic, candidate))

        # Select best_candidate with minimum AIC
        score_with_candidates.sort()
        best_score, best_candidate = score_with_candidates[0]

        # select best_candidate if AIC is improved
        improved = False
        if best_score < current_score:
            remaining.remove(best_candidate)
            selected.append(best_candidate)
            current_score = best_score
            improved = True
            
        if not remaining or not improved: break

    formula = formula_head + 'Q("' + '") + Q("'.join(selected) + '")'
    print('The best formula: {}'.format(formula))
    aic = model(formula=formula, **kwargs).fit().aic
    print('Minimum AIC: {:.3f}'.format(aic))
    
    ret = model(formula, **kwargs).fit()
    ret.model.exog_names_org = [re.sub(r'Q\(\"(.*)\"\)',r'\1',x) for x in list(ret.model.exog_names)]
    ret.model.endog_names_org = re.sub(r'Q\(\"(.*)\"\)',r'\1',ret.model.endog_names)
    return ret

In [10]:
#Cell_23.
#変数選択を実行

header_y = y_scaled.name
header_x = X_scaled.columns
model = step_aic_forward(smf.ols, header_x,header_y, data=d_scaled)

AIC: 44.568, formula: Q("SALARY") ~ 1
AIC: 36.032, formula: Q("SALARY") ~ Q("TIME")
AIC: 40.209, formula: Q("SALARY") ~ Q("PUBS")
AIC: 37.227, formula: Q("SALARY") ~ Q("TIME") + Q("PUBS")
The best formula: Q("SALARY") ~ Q("TIME")
Minimum AIC: 36.032

## 説明変数選択において説明変数が１個になったので、多重共線性の確認は不要である．

--------------------------------------
## 課題2

In [11]:
#Cell_24.
#選択された説明変数のみで標準化重回帰分析
#reasonなし
X_scaled2 = X_scaled[['TIME']]

import statsmodels.api as sm
mod2 = sm.OLS(y_scaled,X_scaled2)
res2 = mod2.fit()
print(res2.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 SALARY   R-squared (uncentered):                   0.505
Model:                            OLS   Adj. R-squared (uncentered):              0.469
Method:                 Least Squares   F-statistic:                              14.26
Date:                Thu, 05 Oct 2023   Prob (F-statistic):                     0.00204
Time:                        02:23:40   Log-Likelihood:                         -16.016
No. Observations:                  15   AIC:                                      34.03
Df Residuals:                      14   BIC:                                      34.74
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
TIME           0.7104      0.188      3.776      0.002       0.307       1.114
==============================================================================
Omnibus:                        2.083   Durbin-Watson:                   1.540
Prob(Omnibus):                  0.353   Jarque-Bera (JB):                0.920
Skew:                          -0.604   Prob(JB):                        0.631
Kurtosis:                       3.104   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\iniad\miniconda3\envs\ds2023\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [12]:
X_final = X[['TIME']]

mod_final = sm.OLS(y, sm.add_constant(X_final))
res_final = mod_final.fit()
print(res_final.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 SALARY   R-squared:                       0.505
Model:                            OLS   Adj. R-squared:                  0.466
Method:                 Least Squares   F-statistic:                     13.24
Date:                Thu, 05 Oct 2023   Prob (F-statistic):            0.00300
Time:                        02:23:40   Log-Likelihood:                -150.10
No. Observations:                  15   AIC:                             304.2
Df Residuals:                      13   BIC:                             305.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.366e+04   2978.022     14.660      0.000    3.72e+04    5.01e+04
TIME        1224.3920    336.476      3.639      0.003     497.479    1951.305
==============================================================================
Omnibus:                        2.083   Durbin-Watson:                   1.540
Prob(Omnibus):                  0.353   Jarque-Bera (JB):                0.920
Skew:                          -0.604   Prob(JB):                        0.631
Kurtosis:                       3.104   Cond. No.                         17.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\iniad\miniconda3\envs\ds2023\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [13]:
Sigma = np.asmatrix(X_final.cov())

In [14]:
def Mahala2(vec_x, vec_mean, mat):
    length = mat.shape[0]
    vec_x = np.array(vec_x, dtype='float64')
    vec = np.asmatrix((vec_x - vec_mean).values.reshape(length, 1))
    inv = np.linalg.inv(mat)
    mahala2 = vec.T.dot(inv.dot(vec))
    return mahala2[0, 0]

#マハラノビス距離の2乗

In [15]:
import scipy.stats as ss
n = len(X_final) 
#標本数. 

dfm = res_final.df_model 
#モデルの自由度すなわち説明(独立)変数の数

t_0025 = ss.t.isf(q=0.05/2, df=n-dfm-1) 
#自由度 n-dfm-1のt分布の上側2.5パーセント点(= ss.t.ppf(q=0.975, df=n-dfm-1))
#t分布の上側2.5%点

vec_mean = X_final.mean() 
#説明(独立)変数の平均を求める　

print(vec_mean)

TIME    7.666667
dtype: float64

In [16]:
display(X_final.head())

   TIME
0     3
1     6
2     3
3     8
4     9

In [17]:
#観測値に対応する従属変数の信頼区間を求める 

X = sm.add_constant(X_final).iloc[0,:] 
print(X)

hat_y=X.dot(res_final.params) 
print(hat_y)
#Xとresults.paramsの内積を求め従属変数の推定値を求める　

D2_0 = Mahala2(X_final.iloc[0,:], vec_mean, Sigma) 
#マハラノビス距離の二乗を求める 
#マハラノビス距離の値を、問題で与えられたXの値の上で算出

Ve = res_final.scale 
#残差変動の不偏分散
Se_o = np.sqrt((1/n + D2_0 / (n-1)) * Ve) 
#観測値の場合・標準誤差

ci_low = hat_y - t_0025 * Se_o# 下側信頼
ci_up = hat_y + t_0025 * Se_o # 上側信頼
#信頼区間の下限上限

print("理論値:", hat_y)
print("理論値の信頼区間：({0},{1})".format(ci_low,ci_up))

const    1.0
TIME     3.0
Name: 0, dtype: float64
47331.770454545425
理論値: 47331.770454545425
理論値の信頼区間：(42658.37379064684,52005.16711844401)