In [1]:
#Cell_1.
import numpy as np
import pandas as pd
import scipy.stats as ss
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Meiryo'
#plt.rcParams['font.family'] = 'Hiragino Sans' # for macOS

In [2]:
#Cell_2.
df = pd.read_csv('uryou_2020.csv', header=0)

In [3]:
#Cell_3.
df=df.iloc[:,1:]

In [4]:
#Cell_4.
display(df.head())

          minutes  Place-A  Place-B  Place-C  Place-D
0  2020年1月1日9時10分        0        0      0.0        0
1  2020年1月1日9時20分        0        0      0.0        0
2  2020年1月1日9時30分        0        0      0.0        0
3  2020年1月1日9時40分        0        0      0.0        0
4  2020年1月1日9時50分        0        0      0.0        0

In [5]:
#Cell_5.
df.columns=['minutes','Place-A','Place-B','Place-C','Place-D']
display(df.head())

          minutes  Place-A  Place-B  Place-C  Place-D
0  2020年1月1日9時10分        0        0      0.0        0
1  2020年1月1日9時20分        0        0      0.0        0
2  2020年1月1日9時30分        0        0      0.0        0
3  2020年1月1日9時40分        0        0      0.0        0
4  2020年1月1日9時50分        0        0      0.0        0

In [6]:
#Cell_6.
df2=df.copy()
df2['minutes']= pd.XXX(df2['minutes'], format="%Y年%m月%d日%H時%M分")

AttributeError: module 'pandas' has no attribute 'XXX'

In [ ]:
#Cell_7.
print(df2.info())
display(df2.head())

In [ ]:
#Cell_8.
df_ave = df2.iloc[:,1:2].copy()
df_ave.index=df2['minutes']
display(df_ave.head())

In [ ]:
#Cell_9.
df_ave_weekly = df_ave.resample('W').mean()
display(df_ave_weekly.head())